:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.8rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
    --style:Redressed;
    --font1:Lobster;
    --font2:Akaya Telivigala;
    --font3:Satisfy;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-family:var(--style);
  background-color:black;
  color:white;
  font-size:var(--font-size);
}
h1,h2,h3{
  margin:0;
}
a{
  color:var(--magenta);
}
a:hover{
  color:var(--hotmag);
  text-decoration:none;
}
.gradient{
    background: linear-gradient(90deg, rgba(197,23,255,0.8018557764902836) 35%, rgba(0,177,255,0.5861695019804797) 100%);
    height:3px;
}
#intro{
  padding-bottom:7rem;
  padding-left:2rem;
  padding-top:2rem;
  padding-top:5rem;
  max-width: 1200px;
  margin:0 auto;
}
#intro p{
  font-size:1.3rem;
  line-height:1.5;
  
}
#intro .name{
  font-family:var(--font1);
  font-weight:normal;
}

.name span{
  font-family:var(--style);
  color:var(--aqua);
  font-size:3.9rem;
  display:block;
  
}
#intro h2{
  font-size:3.4rem;
  color:#FFBBBB;
  font-weight:normal;
}
#contact h2{
  font-weight:normal;
  color:#FFCDA3;
}
#contact{
 
  text-align:center;
  margin:0 auto;
  padding:4rem 0;
  background-color:var(--plum);
}
.contactpara{
    
    text-align: center;
}
#contact p:last-child{
  margin-top:3rem;
}

  
nav {
  font-family:var(--style);
  font-weight:normal;
  font-size:80%;
 
  

}
 nav ul {
  margin: 0;
  padding: 3.5rem;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
  
}
nav [class*="fa-"]{
  font-size:150%;
  color:#90E0EF;
}
nav [class*="fa-"]:hover{
  color:var(--magenta);
}
nav h1 [class*="fa-"]{
  font-size:100%;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
}

.button{
  background-color:var(--magenta);
  color:white;
  padding:0.5rem;
  border-radius:0.5rem;
}
.button:hover{
  color:black;
  background-color:#B1D0E0;
}
.mail{
  text-decoration:none;
}
.mail:hover{
  background-color:#B1D0E0;
  color:black;
  
}
img{
    width:100%;
    min-height: 400px;
    /* min-width: 600px; */
}


.copyright{
  font-size:1.1rem;
}
#projects {
    padding: 4rem 1rem;
    
  }
  #projects h2 {
      font-size: 3rem;
      margin-bottom: calc(2.5rem * 1.5);
  }
  #projects h3 {
      color: var(--aqua);

  }
  
  #projects h4 {
    font-size: 1.4rem;
    font-family: var(--font1);
    margin: 0;
    font-weight:lighter;
  }
  .blackbox {
      padding: 1rem;
      border-radius: 23px;
      color: white;
      background-color: var(--black);
      font-size: 1.38rem;
      line-height: 1.5;
  }
  #projects ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      gap: 1rem;
      font-size: 1.3rem;
  }
  #projects img {
      margin: 2rem 0 4rem 0;
      padding: 1rem;
      border-left: 1px solid var(--aqua);
      border-top: 1px solid var(--aqua);
      border-radius: 25px;
  }
  .aboutlist{
    list-style-type: none;
    display:flex;
    flex-flow: row wrap;
    justify-content: right;
    gap:1.2rem;
    padding-right: 3rem;
  }
  .aboutname{
    padding-left:3rem;
    color:indianred;
  }
.abouth3{
  padding-right: 3rem;
  color:#90f6fa;
}
.abouth4{
  color:#90E0EF;
  padding-right: 3rem;
}
.aboutbox{
  padding-right: 3rem;
}
footer {
    text-align: center;
    padding:4rem 0;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
}
.footertext{
    font-weight: normal;
}

@media (min-width: 800px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
  #projects{
    max-width:1200px;
    margin:0 auto;
  }
  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .text {
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }
  #projects ul {
    justify-content: flex-end;
  }
  #projects .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }
  #projects .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
  }
  #projects .reverse ul {
    justify-content: flex-start;
  }
  
}
@media (min-width: 850px) {
    nav {
        max-width: 1255px;
        margin: 0 auto;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
  }
